<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image" href="static/img/schiller_logo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <link rel="stylesheet" href="static/styles/footer.css">
    <link rel="stylesheet" href="static/styles/navbar.css">
    <link rel="stylesheet" href="static/styles/recommendations.css">
    <link rel="stylesheet" href="static/styles/spotify-embed.css">
    <link rel="stylesheet" href="static/styles/loader.css">
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/render_track.js"></script>
    <script src="/static/js/recommendations.js"></script>
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
    <title>Schillify</title>
</head>
<body>
    <nav-bar></nav-bar>

    <div id="content" class="content">
        <!-- !!PAGE CONTENT GOES HERE!! -->
        <div class="lds-facebook" style="display: none"><div></div><div></div><div></div></div>
        
        <script>
            // Get the track ID from the url parameters:
            let urlParams = new URLSearchParams(window.location.search);
            let track_id = urlParams.get('id');
            if (track_id) {
                renderUpperTrack(track_id);
            } else {
                const search = renderSearchbar();
                document.getElementById('content').appendChild(search);
            }
        </script>

        <script>
            
        </script>


    </div>

<custom-footer></custom-footer>    
</body>
</html>